.root {
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  margin: 0;
  padding: 0;
  background: black;
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.2);
}

.loading {
  width: 200px;
  margin: auto;
  font-size: 50px;
  color: #FFFFFF;
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 10;
}