.root {
  max-width: 450px;
  min-width: 320px;
  position: relative;
  background: black;
  height: 100vh;
  padding: 13px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.bg {
  position: absolute;
  top: -10px;
  left: 0;
  object-fit: cover;
}

.container {
  width: 100%;
  z-index: 100;
  padding: 3px;
  background: #38246f;
  opacity: 0.9;
  border-radius: 11px;
  overflow-y: scroll;
  height: auto;

  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }

  transform: scale(0.5);
  animation: zoom-in 0.5s forwards ease-out;
  @keyframes zoom-in {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
}

.containerSwiper {
  position: relative;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  animation: slide-in 0.5s forwards ease-in-out;
  @keyframes slide-in {
    0% {
      transform: translatey(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
}

.swiper {
  width: 100%;
  max-width: 450px;
  min-width: 320px;
}

.swiper-wrapper {
  width: auto;
}

.icon {
  border-radius: 13px;
  object-fit: cover;
}

.activeSlide {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 13px;
  width: 151px;
  height: 230px;
  background: linear-gradient(359deg, #15193e 0%, #3842a4 100%);
  z-index: 2;
}

.activeSlideImageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 194px;
}

.inactiveSlide {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 11px;
  width: 128px;
  height: 195px;
  background: linear-gradient(359deg, rgba(21, 25, 62, 0.45) 0%, rgba(56, 66, 164, 0.45) 100%);
  filter: blur(7px);
  z-index: 1;
  position: relative;
  margin: auto;
}

.inactiveSlideImageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 155px;
}

.caption {
  border-radius: 11px;
  width: max-content;
  background: linear-gradient(180deg, rgba(21, 25, 62, 0.6) 0%, rgba(56, 66, 164, 0.63) 100%);
  font-size: 30px;
  color: #fff;
  z-index: 2;
  text-align: center;
  padding: 10px 30px;
}

.navigation {
  z-index: 100;
  max-width: 450px;
  min-width: 320px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;

  transform: scale(0.5);
  animation: zoom-in 0.5s forwards ease-out;
  @keyframes zoom-in {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
}

.navLeft, .navRight {
  z-index: 2;
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: white;
}

.navRight {
  rotate: 180deg;
  margin-right: 10px;
}

.navLeft {
  margin-left: 10px;
}





@media (max-width: 360px) {
  .caption {
    font-size: 22px;
  }
  .activeSlide {
    scale: 0.8;
  }
  .inactiveSlide {
    scale: 0.7;
  }
}

@media (min-width: 361px) and (max-width: 400px) {
  .caption{
    font-size: 26px;
  }
  .activeSlide {
    scale: 0.9;
  }
  .inactiveSlide {
    scale: 0.8;
  }
}
