
@import './_utils';

.root {
  height: 100vh;
  min-width: 319px;
  max-width: 450px;
  min-height: 495px;
  width: 100%;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

.background {
  background: black;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 320px;
  max-width: 450px;
  min-height: 550px;
  width: 100%;
  height: 100vh;
  z-index: -1000;
}

.container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 2fr 1fr 2fr 1fr 2fr;
  align-items: center;
  justify-items: center;
}

.optionBg {
  grid-column-start: 2;
  background: linear-gradient(359deg, rgba(21, 25, 62, 0.45) 0%, rgba(56, 66, 164, 0.45) 100%);
  backdrop-filter: blur(8px);
  width: auto-clamp(100, 150);
  height: auto-height(90, 200);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: auto-clamp(18, 38);
}

.oppNickname {
  grid-row-start: 1;
  grid-column-start: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("/oppNickNameContainer.png") no-repeat;
  background-size: 100% 100%;
  max-width: 202px;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: auto-clamp(20, 32);
  line-height:  auto-clamp(16, 27);
  padding:2px 16px;
  max-height: 52px;
}

.oppNickname2 {
  grid-row-start: 1;
  grid-column-start: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("/oppNickNameContainer.png") no-repeat;
  background-size: 100% 100%;
  max-width: 202px;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: auto-clamp(20, 32);
  line-height:  auto-clamp(16, 27);
  padding:2px 16px;
  max-height: 52px;
  color: #FFFFFF;
  animation: changeColorYellow2 1s forwards;
  animation-delay: 1s;

  @keyframes changeColorYellow2 {
    from {
      color: #FFFFFF;
    }
    to {
      color: #FFCC26;
    }
  }
}


.choose {
  width: auto-clamp(100, 150);
  height: auto-height(80, 200);
  object-fit: contain;
  rotate: 180deg;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  position: absolute;
}

.visible {
  visibility: visible;
  opacity: 1;
}

.invisible {
  visibility: hidden;
}

.mychoose{
  width: auto-clamp(90, 150);
  height: auto-height(80, 200);
  object-fit: contain;
}

.roundTimer {
  width: auto-height(60, 124);
  height: auto-height(60, 144);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: relative;
}

.roundTimerBG {
  display: flex;
  padding-left: 5px;
  align-self: center;
  justify-self: center;
  object-fit: fill;
  width: auto-height(60, 144);
  height: auto-height(60, 144);
  z-index: -1;
}

.time {
  position: absolute;
  width: 100%;
  text-align: center;
  height: auto-clamp(14, 34);
  font-size: auto-clamp(14, 34);
  line-height: auto-clamp(14, 34);
}

.time4 {
  color: #00FF29 !important;
  position: absolute;
  width: 100%;
  text-align: center;
  height: auto-clamp(14, 34);
  font-size: auto-clamp(14, 34);
  line-height: auto-clamp(14, 34);
}

.round {
  grid-row-start: 5;
  grid-column-start: 2;
  background: url("/roundContainer.png") no-repeat;
  background-size: 100% 100%;
  width: auto-clamp(100, 120);
  height: auto-height(34, 52);
  text-align: center;
  line-height: auto-clamp(16, 27);
  font-size: auto-clamp(20, 32);
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonSet {
  grid-row-start: 6;
  grid-column: 1/4;
  height: fit-content;
  padding: 2px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  z-index: 10;
  margin-bottom: 10px;
}

.buttonSet2 {
  grid-row-start: 6;
  grid-column: 1/4;
  height: 94px;
  padding: 2px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  z-index: 10;
  margin-top: -200px;
}

.counter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: auto-height(90, 250);
  width: auto-clamp(58, 68);
  justify-self: center;
  border-radius: 11px;
  backdrop-filter: blur(7px);
  background: #0d112e;
  border: 4px solid #15193E;
}

.winbg {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  filter: blur(0px);
  background: rgba(18, 22, 38, 0.92);
  display: flex;
  justify-content: center;
  align-items: center;
}

.winBorder {
  padding: 5px;
  border-radius: 22px;
  background: linear-gradient(to right, #38246f 0%, #4f5e85 50%, #4c3981 100%);
}

.winContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 25px;
  width: 271px;
  height: 391px;
  background: radial-gradient(67% 67.04% at 50% 50%, rgb(56, 66, 164) 0%, rgb(21, 25, 62) 100%);
  background-size: contain;
}

.winnerName {
  position: relative;
  z-index: 1100;
  margin-top: -15%;
  font-size: 24px;
  color: #fff;
  text-align: center;
}

.winsImage {
  scale: 1.01;
  width: 100%;
  height: 100%
}

.loseImage {
  //width: 80%;
  //height: auto;
  width: 271px;
  height: 391px;
  display: flex;
  justify-self: center;
}

.heart {
  width: 100%;
  height: 33%;
  max-height: 55px;
}

.changerRoot {
  position: absolute;
  top: 35%;
  z-index: 1000;
  width: 100%;
}

.changerContainer {
  width: 100%;
  position: relative;
}

.animF {
  position: absolute;
  top: 0;
  left: -220%;
  z-index: 1002;
  animation: flyInOutFront 1.5s forwards;
  animation-delay: 0.5s;
}

@keyframes flyInOutFront {
  0% {
    transform: translateX(0%);
  }
  40% {
    transform: translateX(110%);
    animation-timing-function: ease-in;
  }
  60% {
    transform: translateX(70%);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateX(220%);
  }
}

.animB {
  position: absolute;
  top: 0;
  right: -220%;
  z-index: 1001;
  animation: flyInOutBack 1.5s forwards;
  animation-delay: 0.5s;
}

@keyframes flyInOutBack {
  0% {
    transform: translateX(0%);
  }
  40% {
    transform: translateX(-110%);
    animation-timing-function: ease-in-out;
  }
  60% {
    transform: translateX(-70%);
    animation-timing-function: ease-in-out;
  }
  100% {
    transform: translateX(-220%);
  }
}

.changerText {
  position: absolute;
  padding-top: auto-height(50, 12);
  left: -100%;
  z-index: 1003;
  width: 100%;
  height: auto;
  text-align: center;
  color: #FFFFFF;
  font-size: auto-clamp(35, 50);
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5);
  animation: flyInOutText 1.5s forwards;
  animation-delay: 0.5s;
}

@keyframes flyInOutText {
  0% {
    transform: translateX(0%);
  }
  20% {
    transform: translateX(100%);
    animation-timing-function: ease-in-out;
  }
  60% {
    transform: translateX(100%);
    animation-timing-function: ease-in-out;
  }
  100% {
    transform: translateX(200%);
  }
}

.filter {
  background: rgba(0, 0, 0, 0.85);
  position: absolute;
  top: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  opacity: 0;
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.visible {
  z-index: 11;
}

.tutorial {
  position: absolute;
  top: 42%;
  transform: translateY(-50%);
  z-index: 13;
  width: 100%;
  background: #4c3981;
  height: min-content;
  border-radius: 18px;
  margin: 5px 5px 115px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  padding: 3px;
}

.tutorial4 {
  position: absolute;
  top: 42%;
  transform: translateY(-50%);
  z-index: 13;
  width: 100%;
  background: #4c3981;
  height: min-content;
  border-radius: 18px;
  margin: 155px 5px 0 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  padding: 3px;
}

.tutorial7 {
  position: absolute;
  top: 42%;
  transform: translateY(-50%);
  z-index: 13;
  width: 100%;
  background-color: #4c3981;
  background-image: url("/faq/trio.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: min-content;
  border-radius: 18px;
  margin: 5px 5px 115px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  padding: 3px;
}

.navRight {
  padding: 5px;
  display: flex;
  align-self: center;
  width: 50px;
  z-index: 2;
  background: transparent;
  border: none;
  font-size: 30px;
  cursor: pointer;
  color: white;
  rotate: 180deg;
  margin-right: 6px;
  animation: pulse 3s infinite;
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.25);
    }
    100% {
      transform: scale(1);
    }
  }
}

.navLeft {
  display: flex;
  align-self: center;
  padding: 5px;
  width: 50px;
  z-index: 2;
  background: transparent;
  border: none;
  font-size: 30px;
  cursor: pointer;
  color: white;
  margin-left: 6px;
  animation: pulse 3s infinite;
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.25);
    }
    100% {
      transform: scale(1);
    }
  }
}

.caption {
  width: 100%;
}

.col {
  height: 100%;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: space-between;
}

.pagination {
  font-family: 'Oswald';
  color: #FFFFFF;
  font-size: auto-clamp(14, 20);
  text-align: center;
}

.dot {
  font-family: 'Oswald';
  color: transparent;
  font-size: auto-clamp(14, 20);
}

.green {
  color: #57E22C;
}

.yellow {
  color: #FFCC26;
}

.red {
  color: red;
}

.slideContent1, .slideContent4 {
  margin: auto;
  width: fit-content;
  color: #FFFFFF;
  font-family: 'Oswald';
  font-size: auto-clamp(16, 24);
  text-align: center;
}

.slideContent5 {
  margin: auto;
  width: fit-content;
  color: #FFFFFF;
  font-family: 'Oswald';
  font-size: auto-clamp(16, 24);
  text-align: center;
}

.slideContent2 {
  text-align: center;
  margin: auto;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #FFFFFF;
  gap: 3px;
  font-family: 'Oswald';
  font-size: auto-clamp(16, 24);
}

.slideContent3 {
  display: flex;
  justify-content: space-between;
  color: #FFFFFF;
  gap: 3px;
  font-family: 'Oswald';
  font-size: auto-clamp(16, 24);
}

.slideContent6, .slideContent7 {
  margin: auto;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #FFFFFF;
  gap: 3px;
  font-family: 'Oswald';
  font-size: auto-clamp(16, 24);
  text-align: center;
}

.slideContent7 {
  margin: auto;
  width: fit-content;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  color: #FFFFFF;
  gap: 3px;
  font-family: 'Oswald';
  font-size: auto-clamp(12, 20);
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
.beat1 {
  grid-column-start: 0;
  grid-row-start: 0;
}
.beat2 {
  grid-column-start: 3;
  grid-row-start: 0;
}
.beat3 {
  grid-column-start: 2;
  grid-row-start: 3;
  padding-top: 35px;
}

.round2 {
  grid-row-start: 5;
  grid-column-start: 2;
  background: url("/roundContainer.png") no-repeat;
  background-size: contain;
  width: auto-clamp(100, 120);
  height: auto-clamp(44, 52);
  text-align: center;
  line-height: auto-clamp(16, 27);
  font-size: auto-clamp(20, 32);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  animation: changeColorYellow 1s forwards;
  animation-delay: 1s;
}

@keyframes changeColorYellow {
  from {
    color: #FFFFFF;
  }
  to {
    color: #57E22C;
  }
}

.round4 {
  grid-row-start: 5;
  grid-column-start: 2;
  background: url("/roundContainer.png") no-repeat;
  background-size: contain;
  width: auto-clamp(100, 120);
  height: auto-clamp(44, 52);
  text-align: center;
  line-height: auto-clamp(16, 27);
  font-size: auto-clamp(20, 32);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFCC26;
}

