@import './_utils';

@font-face {
  font-family: 'Pricedown';
  src: url("../pages/fonts/pricedownbl.ttf");
}

@font-face {
  font-family: 'Oswald';
  src: url("../pages/fonts/Oswald.ttf");
}

html, body {
  margin: 0 auto;
  padding: 0;
  min-width: 319px;
  max-width: 450px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'Pricedown', 'Oswald', serif;
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

.Toastify__toast {
  background: radial-gradient(67% 67.04% at 50% 50%, rgb(56, 66, 164) 0%, rgb(21, 25, 62) 100%) !important;
  color: #fff !important;
  font-size: 20px !important;
  border-radius: 16px !important;
  margin: 5px;
  z-index: 1000000;
  font-family: 'Pricedown' !important;
}

.Toastify__close-button {
  color: #fff !important;
  margin-top: 15px !important;
}

.Toastify__toast-body {
  color: #fff; /* Белый текст */
}

html, body {
  overscroll-behavior-y: none;
  touch-action: manipulation;
}

@media screen and (orientation: landscape) {
  body {
    display: none;
  }
}

