@import './_utils';

.root {
  max-width: 450px;
  min-width: 320px;
  position: relative;
  background: black;
  height: 100vh;
  background: linear-gradient(180deg, #25253d 0%, #6363a3 100%);
}

.bg {
  max-width: 450px;
  min-width: 320px;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

.container {
  position: absolute;
  width: 100%;
  z-index: 100;
  padding: auto-height(3, 20);
}

.block {
  margin-top: 0;
  transform: scale(0.5);
  animation: zoom-in 0.5s forwards ease-out;

  @keyframes zoom-in {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
}

.buttonSet {
  position: relative;
  width: 70%;
  height: fit-content;
  margin-bottom: -2px;
  border-bottom: none;
  border-radius: 15px 15px 0 0;
  display: flex;
  color: #FFFFFF;
  text-align: center;
}

.folderBtnShop, .folderBtnFlex, .folderBtnTats {
  background: rgba(56,36,111, 0.95);
  backdrop-filter: blur(7px);
  border: 2px solid #3842a4;
  border-bottom: none;
  width: 60%;
  margin-top: 20px;
  border-radius: 15px 15px 0 0;
  padding-top: auto-clamp(8, 5);
  font-size: auto-clamp(20, 24);
  position: relative;
  z-index: 110;
}

.folderBtnFlex, .folderBtnTats {
  margin-left: -20px;
}

.personalContainer {
  padding: 20px 10px 10px 15px;
  width: 100%;
  height: 85vh;
  background: rgba(56,36,111, 0.95);
  backdrop-filter: blur(7px);
  border-radius: 0 12px 12px 12px;
  border: 2px solid #3842a4;
  z-index: 111;
}

.padding {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.skinContainer {
  padding: 20px 5px;
  position: relative;
  width: 100%;
  background: rgba(56,36,111, 0.95);
  backdrop-filter: blur(7px);
  border-radius: 0 12px 12px 12px;
  border: 2px solid #3842a4;
  z-index: 111;
  height: 85vh;
  //overflow-y: scroll;
  //scrollbar-width: none;
  //-ms-overflow-style: none;
  //
  //&::-webkit-scrollbar {
  //  display: none;
  //}
}


.list {
  width: auto;
  height: fit-content;
  margin: 7px auto-clamp(5, 20) 0 auto-clamp(5, 20);
  z-index: 113;
  padding: 4px;
  border-radius: 15px;
  background: linear-gradient(180deg, rgba(89, 67, 148, 0.6) 0%, rgba(62, 47, 103, 1) 100%);
}

.barItem, .barItemStats {
  font-size: auto-clamp(18, 24);
  color: #fff;
  max-width: 360px;
  text-align: left;
  margin: auto auto 12px 4px;
  width: 100%;
}

.barItemStats {
  text-align: center;
}

.balance {
  border-radius: 11px;
  background: #3842a4;
  font-size: auto-clamp(30, 40);
  line-height: auto-clamp(30, 40);
  color: #fff;
  width: 100%;
  height: auto-clamp(50, 65);
  text-align: center;
  margin: auto;
  padding-top: auto-clamp(5, 15);
  padding-bottom: auto-clamp(5, 15);
}