
@import './_utils';

.root {
  height: 100vh;
  min-width: 319px;
  max-width: 450px;
  min-height: 495px;
  width: 100%;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

.background {
  background: black;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 320px;
  max-width: 450px;
  min-height: 550px;
  width: 100%;
  height: 100vh;
  z-index: -1000;
}

.container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 2fr 1fr 2fr 1fr 2fr;
  align-items: center;
  justify-items: center;
}

.optionBg {
  grid-column-start: 2;
  background: linear-gradient(359deg, rgba(21, 25, 62, 0.45) 0%, rgba(56, 66, 164, 0.45) 100%);
  backdrop-filter: blur(8px);
  width: auto-clamp(100, 150);
  height: auto-height(90, 250);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: auto-clamp(18, 38);
}

.oppNickname {
  grid-row-start: 1;
  grid-column-start: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("/oppNickNameContainer.png") no-repeat;
  background-size: 100% 100%;
  max-width: 202px;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: auto-clamp(20, 32);
  line-height:  auto-clamp(16, 27);
  padding:2px 16px;
  max-height: 52px;
}

.choose {
  width: auto-clamp(100, 150);
  height: auto-height(80, 200);
  object-fit: contain;
  rotate: 180deg;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  position: absolute;
}

.visible {
  visibility: visible;
  opacity: 1;
}

.invisible {
  visibility: hidden;
}

.mychoose{
  width: auto-clamp(90, 150);
  height: auto-height(80, 200);
  object-fit: contain;
}

.roundTimer {
  width: auto-height(60, 124);
  height: auto-height(60, 144);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: relative;
}

.roundTimerBG {
  display: flex;
  padding-left: 5px;
  align-self: center;
  justify-self: center;
  object-fit: fill;
  width: auto-height(60, 144);
  height: auto-height(60, 144);
  z-index: -1;
}

.time {
  position: absolute;
  width: 100%;
  text-align: center;
  height: auto-clamp(14, 34);
  font-size: auto-clamp(14, 34);
  line-height: auto-clamp(14, 34);
}

.round {
  grid-row-start: 5;
  grid-column-start: 2;
  background: url("/roundContainer.png") no-repeat;
  background-size: 100% 100%;
  width: auto-clamp(100, 120);
  height: auto-height(34, 52);
  text-align: center;
  line-height: auto-clamp(16, 27);
  font-size: auto-clamp(20, 32);
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonSet {
  grid-row-start: 6;
  grid-column: 1/4;
  height: fit-content;
  padding: 2px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  z-index: 10;
  margin-bottom: 10px;
}

.counter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: auto-height(90, 250);
  width: auto-clamp(58, 68);
  justify-self: center;
  border-radius: 11px;
  backdrop-filter: blur(7px);
  background: #0d112e;
  border: 4px solid #15193E;
}

.winbg {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  filter: blur(0px);
  background: rgba(18, 22, 38, 0.92);
  display: flex;
  justify-content: center;
  align-items: center;
}

.winBorder {
  padding: 5px;
  border-radius: 22px;
  background: linear-gradient(to right, #38246f 0%, #4f5e85 50%, #4c3981 100%);
}

.winContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 25px;
  width: 271px;
  height: 391px;
  background: radial-gradient(67% 67.04% at 50% 50%, rgb(56, 66, 164) 0%, rgb(21, 25, 62) 100%);
  background-size: contain;
}

.winnerName {
  position: relative;
  z-index: 1100;
  font-size: auto-clamp(28, 36);
  color: #FFCC26;
  text-align: center;
}

.winsImage {
  width: 100%;
  height: auto
}

.loseImage {
  //width: 80%;
  //height: auto;
  width: 271px;
  height: 391px;
  display: flex;
  justify-self: center;
}

.heart {
  width: 100%;
  height: 33%;
  max-height: 55px;
}

.changerRoot {
  position: absolute;
  top: 35%;
  z-index: 1000;
  width: 100%;
}

.changerContainer {
  width: 100%;
  position: relative;
}

.animF {
  position: absolute;
  top: 0;
  left: -220%;
  z-index: 1002;
  animation: flyInOutFront 2s forwards;
}

.animFGS {
  position: absolute;
  top: 0;
  left: -220%;
  z-index: 1002;
  animation: flyInOutFront 1.7s forwards;
}

@keyframes flyInOutFront {
  0% {
    transform: translateX(0%);
  }
  40% {
    transform: translateX(110%);
    animation-timing-function: ease-in;
  }
  60% {
    transform: translateX(70%);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateX(220%);
  }
}

.animB {
  position: absolute;
  top: 0;
  right: -220%;
  z-index: 1001;
  animation: flyInOutBack 2s forwards;
}

.animBGS {
  position: absolute;
  top: 0;
  right: -220%;
  z-index: 1001;
  animation: flyInOutBack 1.7s forwards;
}

@keyframes flyInOutBack {
  0% {
    transform: translateX(0%);
  }
  40% {
    transform: translateX(-110%);
    animation-timing-function: ease-in-out;
  }
  60% {
    transform: translateX(-70%);
    animation-timing-function: ease-in-out;
  }
  100% {
    transform: translateX(-220%);
  }
}

.changerText {
  position: absolute;
  padding-top: auto-height(50, 12);
  left: -100%;
  z-index: 1003;
  width: 100%;
  height: auto;
  text-align: center;
  color: #FFFFFF;
  font-size: auto-clamp(35, 50);
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5);
  animation: flyInOutText 2s forwards;
}

.changerTextGS {
  position: absolute;
  padding-top: auto-height(50, 12);
  left: -100%;
  z-index: 1003;
  width: 100%;
  height: auto;
  text-align: center;
  color: #FFFFFF;
  font-size: auto-clamp(35, 50);
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5);
  animation: flyInOutText 1.7s forwards;
}

@keyframes flyInOutText {
  0% {
    transform: translateX(0%);
  }
  20% {
    transform: translateX(100%);
    animation-timing-function: ease-in-out;
  }
  60% {
    transform: translateX(100%);
    animation-timing-function: ease-in-out;
  }
  100% {
    transform: translateX(200%);
  }
}
