.root {
  max-width: 450px;
  min-width: 320px;
  position: relative;
  height: 100vh;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: -1000;
}

.container {
  max-width: 450px;
  min-width: 320px;
  position: relative;
  height: 100vh;
  width: 100%;
  animation: slide-in-right 1s ease-out forwards;
}

.person {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  object-fit: fill;
  z-index: 2;
  animation: slide-in-right 0.5s ease-out forwards;
}

.cardSet {
  width: 100%;
  height: 100%;
  bottom: 0;
  position: absolute;
  z-index: 6;
  animation: slide-in-right 0.5s ease-out forwards;
}


.oneCard1 {
  position: absolute;
  z-index: 10;
  top: 30%;
  left: 25%;
  --rotate-angle: -34deg;
  transform: rotate(var(--rotate-angle));
  transition: top 0.3s ease, left 0.3s ease, transform 0.3s ease;
}
.oneCard1FirstClick {
  position: absolute;
  border-radius: 10px;
  z-index: 10;
  top: 27%;
  left: 20%;
  --rotate-angle: -34deg;
  transform: rotate(var(--rotate-angle));
  transition: top 0.3s ease, left 0.3s ease, transform 0.3s ease;
}
.oneCard1SecondClick {
  position: absolute;
  border-radius: 10px;
  z-index: 10;
  top: 24%;
  left: 17%;
  --rotate-angle: -34deg;
  transform: rotate(var(--rotate-angle));
  animation: fadeOut 0.3s ease-out forwards;
  transition: top 0.3s ease, left 0.3s ease, transform 0.3s ease;
}

.oneCard2 {
  position: absolute;
  z-index: 9;
  top: 27%;
  left: 36%;
  --rotate-angle: -17deg;
  transform: rotate(var(--rotate-angle));
  transition: top 0.3s ease, left 0.3s ease, transform 0.3s ease;
}
.oneCard2FirstClick {
  position: absolute;
  border-radius: 10px;
  z-index: 9;
  top: 23%;
  left: 33%;
  --rotate-angle: -17deg;
  transform: rotate(var(--rotate-angle));
  transition: top 0.3s ease, left 0.3s ease, transform 0.3s ease;
}
.oneCard2SecondClick {
  position: absolute;
  border-radius: 10px;
  z-index: 9;
  top: 20%;
  left: 31%;
  --rotate-angle: -17deg;
  transform: rotate(var(--rotate-angle));
  animation: fadeOut 0.3s ease-out forwards;
  transition: top 0.3s ease, left 0.3s ease, transform 0.3s ease;
}

.oneCard3 {
  position: absolute;
  border-radius: 10px;
  z-index: 8;
  top: 27%;
  left: 45%;
  --rotate-angle: 11deg;
  transform: rotate(var(--rotate-angle));
  transition: top 0.3s ease, left 0.3s ease, transform 0.3s ease;
}
.oneCard3FirstClick {
  position: absolute;
  border-radius: 10px;
  z-index: 8;
  top: 22%;
  left: 48%;
  --rotate-angle: 11deg;
  transform: rotate(var(--rotate-angle));
  transition: top 0.3s ease, left 0.3s ease, transform 0.3s ease;
}
.oneCard3SecondClick {
  position: absolute;
  border-radius: 10px;
  z-index: 8;
  top: 17%;
  left: 51%;
  --rotate-angle: 11deg;
  transform: rotate(var(--rotate-angle));
  animation: fadeOut 0.3s ease-out forwards;
  transition: top 0.3s ease, left 0.3s ease, transform 0.3s ease;
}

.oneCard4 {
  position: absolute;
  z-index: 7;
  top: 30%;
  left: 55%;
  --rotate-angle: 37deg;
  transform: rotate(var(--rotate-angle));
  transition: top 0.3s ease, left 0.3s ease, transform 0.3s ease;
}
.oneCard4FirstClick {
  position: absolute;
  border-radius: 10px;
  z-index: 7;
  top: 27%;
  left: 60%;
  --rotate-angle: 37deg;
  transform: rotate(var(--rotate-angle));
  transition: top 0.3s ease, left 0.3s ease, transform 0.3s ease;
}
.oneCard4SecondClick {
  position: absolute;
  border-radius: 10px;
  z-index: 7;
  top: 24%;
  left: 63%;
  --rotate-angle: 37deg;
  transform: rotate(var(--rotate-angle));
  animation: fadeOut 0.3s ease-out forwards;
  transition: top 0.3s ease, left 0.3s ease, transform 0.3s ease;
}



.hand {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  object-fit: fill;
  z-index: 11;
  animation: slide-in-right 0.5s ease-out forwards;
}

.dialog {
  max-width: 450px;
  min-width: 320px;
  position: relative;
  height: 100vh;
  width: 100%;
  z-index: 1;

  opacity: 0;
  animation-delay: 0.5s;
  animation-name: grow;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.dialogImage {
  width: 186px;
  opacity: 30%;
  height: 100px;
  position: absolute;
  top: 5%;
  left: 8%;
}



.text {
  font-size: 38px;
  color: #fff;
  position: absolute;
  top: 5%;
  left: 5%;
  margin-left: 30px;
  margin-top: 20px;
}

.dialog2Image {
  width: 256px;
  opacity: 30%;
  height: 100px;
  position: absolute;
  top: 5%;
  left: 8%;
}

.text2 {
  width: 232px;
  font-size: 26px;
  color: #fff;
  position: absolute;
  top: 4%;
  left: 4%;
  margin-left: 30px;
  margin-top: 20px;
}

.text3 {
  width: 150px;
  font-size: 26px;
  color: #fff;
  position: absolute;
  top: 4%;
  left: 4%;
  margin-left: 50px;
  margin-top: 20px;
}

.gang {
  font-size: 26px;
  color: #FFCC26;
}

.cardImage {
  z-index: 15;
  width: 50%;
  height: auto;
  position: absolute;
  bottom: 30%;
  border-radius: 16px;
  margin-left: 25%;

  animation: slide-in-up 0.5s ease-out forwards;
  box-shadow: 0 0 20px 10px var(--box-shadow-color);
}

.hidden {
  display: none;
}

.btn {
  position: absolute;
  border-radius: 11px;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  background: linear-gradient(180deg, #c78100 0%, #e4aa39 50.3%, #c78100 100%);
  stroke-width: 2px;
  stroke: rgba(0, 0, 0, 0.39);
  box-shadow: 0 5px 0 0 #69470d;
  z-index: 120;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 70px;
  font-size: 50px;
  color: rgba(255,255,255);
  padding: 3px 30px;

  animation: liftUp 0.5s ease-out 3s forwards;
  animation-fill-mode: backwards;
}

@keyframes liftUp {
  0% {
    transform: translate(-50%, 1000%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}

@keyframes slide-in-right {
  0% {
    transform: translateX(0vw);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-up {
  0% {
    transform: translateY(100vw);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes grow {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1; /* Начало: элемент полностью видим */
  }
  to {
    opacity: 0; /* Конец: элемент полностью невидим */
  }
}
