@import './_utils';

.root {
  height: 100%;
}

.bg {
  position: absolute;
  width: auto-clamp(320, 450);
  height: auto-height(680, 968);
  object-fit: fill;
}

.container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  animation: slide-in-right 1s ease-out forwards;
}

.person {
  position: absolute;
  bottom: 0;
  z-index: 2;
  width: auto-clamp(230, 450);
  height: auto-height(495, 968);
  animation: slide-in-right 0.5s ease-out forwards;
}

.cardSet {
  position: absolute;
  z-index: 3;
  bottom: auto-height(230, 460);
  width: auto-clamp(320, 450);
  height: auto-height(320, 460);
  animation: slide-in-right 0.5s ease-out forwards;
}


.oneCard1 {
  position: absolute;
  z-index: 10;
  bottom: -5%;
  left: 25%;
  --rotate-angle: -34deg;
  transform: rotate(var(--rotate-angle));
  transition: bottom 0.3s ease, left 0.3s ease, transform 0.3s ease;
}
.oneCard1FirstClick {
  position: absolute;
  border-radius: 10px;
  z-index: 10;
  bottom: 5%;
  left: 20%;
  --rotate-angle: -34deg;
  transform: rotate(var(--rotate-angle));
  transition: bottom 0.3s ease, left 0.3s ease, transform 0.3s ease;
}
.oneCard1SecondClick {
  position: absolute;
  border-radius: 10px;
  z-index: 10;
  bottom: 11%;
  left: 17%;
  --rotate-angle: -34deg;
  transform: rotate(var(--rotate-angle));
  animation: fadeOut 0.3s ease-out forwards;
  transition: bottom 0.3s ease, left 0.3s ease, transform 0.3s ease;
}

.oneCard2 {
  position: absolute;
  z-index: 9;
  bottom: 0;
  left: 36%;
  --rotate-angle: -17deg;
  transform: rotate(var(--rotate-angle));
  transition: bottom 0.3s ease, left 0.3s ease, transform 0.3s ease;
}
.oneCard2FirstClick {
  position: absolute;
  border-radius: 10px;
  z-index: 9;
  bottom: 8%;
  left: 33%;
  --rotate-angle: -17deg;
  transform: rotate(var(--rotate-angle));
  transition: bottom 0.3s ease, left 0.3s ease, transform 0.3s ease;
}
.oneCard2SecondClick {
  position: absolute;
  border-radius: 10px;
  z-index: 9;
  bottom: 16%;
  left: 31%;
  --rotate-angle: -17deg;
  transform: rotate(var(--rotate-angle));
  animation: fadeOut 0.3s ease-out forwards;
  transition: bottom 0.3s ease, left 0.3s ease, transform 0.3s ease;
}

.oneCard3 {
  position: absolute;
  border-radius: 10px;
  z-index: 8;
  bottom: 0;
  left: 45%;
  --rotate-angle: 11deg;
  transform: rotate(var(--rotate-angle));
  transition: bottom 0.3s ease, left 0.3s ease, transform 0.3s ease;
}
.oneCard3FirstClick {
  position: absolute;
  border-radius: 10px;
  z-index: 8;
  bottom: 8%;
  left: 48%;
  --rotate-angle: 11deg;
  transform: rotate(var(--rotate-angle));
  transition: bottom 0.3s ease, left 0.3s ease, transform 0.3s ease;
}
.oneCard3SecondClick {
  position: absolute;
  border-radius: 10px;
  z-index: 8;
  bottom: 16%;
  left: 51%;
  --rotate-angle: 11deg;
  transform: rotate(var(--rotate-angle));
  animation: fadeOut 0.3s ease-out forwards;
  transition: bottom 0.3s ease, left 0.3s ease, transform 0.3s ease;
}

.oneCard4 {
  position: absolute;
  z-index: 7;
  bottom: -5%;
  left: 55%;
  --rotate-angle: 37deg;
  transform: rotate(var(--rotate-angle));
  transition: bottom 0.3s ease, left 0.3s ease, transform 0.3s ease;
}
.oneCard4FirstClick {
  position: absolute;
  border-radius: 10px;
  z-index: 7;
  bottom: 5%;
  left: 60%;
  --rotate-angle: 37deg;
  transform: rotate(var(--rotate-angle));
  transition: bottom 0.3s ease, left 0.3s ease, transform 0.3s ease;
}
.oneCard4SecondClick {
  position: absolute;
  border-radius: 10px;
  z-index: 7;
  bottom: 8%;
  left: 63%;
  --rotate-angle: 37deg;
  transform: rotate(var(--rotate-angle));
  animation: fadeOut 0.3s ease-out forwards;
  transition: bottom 0.3s ease, left 0.3s ease, transform 0.3s ease;
}



.hand {
  position: absolute;
  z-index: 4;
  bottom: 0;
  width: auto-clamp(230, 450);
  height: auto-height(234, 460);
  animation: slide-in-right 0.5s ease-out forwards;
}

.dialog {
  position: absolute;
  z-index: 1;
  top: auto-height(20, 100);
  left: auto-clamp(20, 45);
  width: auto-clamp(196, 275);
  height: auto-height(100, 126);

  opacity: 0;
  animation-delay: 0.5s;
  animation-name: grow;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.dialogImage {
  object-fit: fill;
  opacity: 30%;
}

.text {
  position: absolute;
  width: 200px;
  z-index: 1;
  color: #FFFFFF;
  top: 20px;
  left: 25px;
  font-size: auto-clamp(32, 38);
}

.dialog2Image {
  object-fit: fill;
  opacity: 30%;
}

.text2 {
  font-size: auto-clamp(22, 24);
  position: absolute;
  width: 180px;
  z-index: 1;
  color: #FFFFFF;
  top: 7px;
  left: 14px;
}

.text3 {
  font-size: auto-clamp(26, 30);
  position: absolute;
  width: 180px;
  z-index: 1;
  color: #FFFFFF;
  top: 10px;
  left: 25px;
}

.gang {
  font-size: auto-clamp(22, 24);
  color: #FFCC26;
}

.cardImage {
  z-index: 15;
  width: 40%;
  height: auto;
  position: absolute;
  bottom: 30%;
  border-radius: 16px;
  margin-left: 30%;

  animation: slide-in-up 0.5s ease-out forwards;
  box-shadow: 0 0 20px 10px var(--box-shadow-color);
}

.hidden {
  display: none;
}

.btn {
  font-family: 'Pricedown';
  position: absolute;
  border-radius: 11px;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  background: linear-gradient(180deg, #c78100 0%, #e4aa39 50.3%, #c78100 100%);
  stroke-width: 2px;
  stroke: rgba(0, 0, 0, 0.39);
  box-shadow: 0 5px 0 0 #69470d;
  z-index: 120;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 70px;
  font-size: 50px;
  color: rgba(255,255,255);
  padding: 3px 30px;

  animation: liftUp 0.5s ease-out 3s forwards;
  animation-fill-mode: backwards;
}

@keyframes liftUp {
  0% {
    transform: translate(-50%, 1000%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}

@keyframes slide-in-right {
  0% {
    transform: translateX(0vw);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-up {
  0% {
    transform: translateY(100vw);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes grow {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1; /* Начало: элемент полностью видим */
  }
  to {
    opacity: 0; /* Конец: элемент полностью невидим */
  }
}
