.root {
  max-width: 450px;
  min-width: 320px;
  position: relative;
  background: black;
  height: 100vh;
  background: linear-gradient(180deg, #25253d 0%, #6363a3 100%);
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  opacity: 0.5; /* Прозрачность 40%, можно настроить */
  mix-blend-mode: normal; /* Экспериментируйте с режимами наложения: multiply, screen, overlay */
  max-width: 450px;
  min-width: 320px;
  height: 100vh;
  width: 100%;
}

.container {
  position: absolute;
  width: 100%;
  z-index: 100;
  padding: 20px;

  transform: scale(0.5);
  animation: zoom-in 0.5s forwards ease-out;

  @keyframes zoom-in {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
}

.title {
  font-size: 52px;
  font-weight: 400;
  color: #fff;
  width: 100%;
  text-align: center;
}

.buttonset {
  position: absolute;
  bottom: 10px;
  z-index: 110;
  display: flex;
  justify-content: space-around;
}