@import './_utils';

.root {
  max-width: 450px;
  min-width: 320px;
  position: relative;
  background: black;
  height: 100vh;
}

.bg {
  max-width: 450px;
  min-width: 320px;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

.container {
  position: relative;
  width: 100%;
  z-index: 100;
  padding: 20px;
  height: 100vh;
  flex-grow: 1;
}

.balance {
  width: auto-clamp(130, 175);
  height: 55px;
  border-radius: 11px;
  background: #38246f;
  stroke-width: 3px;
  border: 3px solid rgba(56, 66, 164, 0.8);
  text-align: center;
  font-size: auto-clamp(34, 40);
  line-height: auto-clamp(34, 40);
  padding: 5px;
  color: #fff;
  margin: 10px 19px 12px auto;
}


.block {
  transform: scale(0.5);
  animation: zoom-in 0.5s forwards ease-out;

  @keyframes zoom-in {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
}

.buttonSet {
  position: relative;
  width: 65%;
  height: 42px;
  margin-right: auto;
  margin-bottom: -2px;
  border-bottom: none;
  border-radius: 15px 15px 0 0;
  display: flex;
  color: #FFFFFF;
  text-align: center;
}

.folderBtnStats, .folderBtnSkins {
  background: rgba(56,36,111, 0.8);
  backdrop-filter: blur(7px);
  border: 2px solid #3842a4;
  border-bottom: none;
  width: 60%;
  border-radius: 15px 15px 0 0;
  padding-top: auto-clamp(8, 5);
  font-size: auto-clamp(22, 30);
  position: relative;
  z-index: 110;
}

.folderBtnSkins {
  margin-left: -18px;
}

.folderBtnStats {
  padding-right: 6px;
}

.personalContainer {
  width: 100%;
  background: rgba(56,36,111, 0.8);
  backdrop-filter: blur(7px);
  border-radius: 0 12px 12px 12px;
  border: 2px solid #3842a4;
  z-index: 111;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 150px);

  &::-webkit-scrollbar {
    display: none;
  }
}

.containerSwiper {
  width: 100%;
  display: flex;
  max-height: 230px;
  justify-content: space-between;
  padding: 6px;
}

.swiper {
  max-height: 230px;
}

.slide {
  width: 152px;
  display: flex;
  justify-content: center;
}


.icon {
  width: 152px;
  height: auto;
  margin: 0;
}


.navRight {
  z-index: 2;
  background: transparent;
  border: none;
  font-size: 30px;
  cursor: pointer;
  color: white;
  rotate: 180deg;
}

.caption {
  border-radius: 11px;
  width: max-content;
  background: #686EA6;
  font-size: auto-clamp(22, 35);
  color: #fff;
  z-index: 2;
  text-align: center;
  padding: 10px 20px;
  white-space: nowrap;
  margin: auto auto 15px;
}

.navLeft {
  z-index: 2;
  background: transparent;
  border: none;
  font-size: 30px;
  cursor: pointer;
  color: white;
}

.skinContainer {
  position: relative;
  width: 100%;
  background: rgba(56,36,111, 0.8);
  backdrop-filter: blur(7px);
  border-radius: 12px 12px 12px 12px;
  border: 2px solid #3842a4;
  z-index: 111;
  margin-bottom: 15px;
  height: calc(100vh - 150px);
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}

.list {
  width: auto;
  height: 100%;
  margin: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.itemsList {
  padding: 5px;
  background: radial-gradient(circle at center, rgb(21, 25, 62) 0%, rgb(56, 66, 164) 58%);
  border-radius: 11px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.label {
  font-size: auto-clamp(20, 32);
  color: #FFFFFF;
  margin: 8px 0;
}

.col {
  width: auto;
  height: auto;
  gap: 10px;
  margin: 15px;
}

.modal {
  max-width: 410px;
  position: absolute;
  bottom: 12px;
  width: calc(100vw - 40px);
  background: rgba(56,36,111, 0.8);
  backdrop-filter: blur(7px);
  border-radius: 12px 12px 12px 12px;
  z-index: 115;
  border: 2px solid #3842a4;
  height: calc(100vh - 150px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalUpgrades {
  background: rgba(56, 36, 111, 0.8);
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
  padding: 20px;
  max-width: 400px;
  width: 100%;
  text-align: center;
  margin: 20px;
}

.modalUpgrades h2 {
  font-size: auto-clamp(18, 24);
  color: #fff;
  margin-bottom: 10px;
}

.modalUpgrades p {
  font-size: auto-clamp(14, 18);
  color: #fff;
  margin-bottom: 8px;
}

.modalButtons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.btnClose, .btnUpgrade {
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: auto-clamp(14, 18);
  border-radius: 8px;
  cursor: pointer;
}

.btnClose {
  background: rgba(104, 110, 166, 0.6);
}

.btnUpgrade {
  background: linear-gradient(180deg, #c78100 0%, #e4aa39 50.3%, #c78100 100%);
}

.btnUpgrade:disabled {
  background-color: #a9a9a9;
  color: #ffffff;
  cursor: not-allowed;
  opacity: 0.6;
}

.errorMessage {
  color: red;
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
}

.warning {
  margin: 15px;
  font-size: auto-clamp(18, 24);
  text-align: center;
  color: #fff;
}