@import './_utils';

.root {
  max-width: 450px;
  min-width: 320px;
  position: relative;
  background: black;
  height: 100vh;
  background: linear-gradient(180deg, #25253d 0%, #6363a3 100%);
}

.bg {
  max-width: 450px;
  min-width: 320px;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

.container {
  position: relative;
  width: 100%;
  z-index: 100;
  padding: 20px;
  height: 100vh;
  flex-grow: 1;
}

.balanceContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.title {
  font-size: auto-clamp(30, 48);
  color: white;
  align-self: center;
}

.balance {
  width: fit-content;
  height: 55px;
  border-radius: 11px;
  background: #38246f;
  stroke-width: 3px;
  border: 3px solid rgba(56, 66, 164, 0.8);
  text-align: center;
  font-size: auto-clamp(34, 40);
  line-height: auto-clamp(34, 40);
  padding: 5px;
  color: #fff;
}


.block {
  transform: scale(0.5);
  animation: zoom-in 0.5s forwards ease-out;

  @keyframes zoom-in {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
}

.buttonSet {
  position: relative;
  width: 65%;
  height: 42px;
  margin-right: auto;
  margin-bottom: -2px;
  border-bottom: none;
  border-radius: 15px 15px 0 0;
  display: flex;
  color: #FFFFFF;
  text-align: center;
}

.folderBtnStats, .folderBtnSkins {
  background: rgba(56,36,111, 0.8);
  backdrop-filter: blur(7px);
  border: 2px solid #3842a4;
  border-bottom: none;
  width: 60%;
  border-radius: 15px 15px 0 0;
  padding-top: auto-clamp(8, 5);
  font-size: auto-clamp(22, 30);
  position: relative;
  z-index: 110;
}

.folderBtnSkins {
  margin-left: -18px;
}

.folderBtnStats {
  padding-right: 6px;
}

.personalContainer {
  width: 100%;
  background: rgba(56,36,111, 0.8);
  backdrop-filter: blur(7px);
  border-radius: 12px;
  border: 2px solid #3842a4;
  z-index: 111;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 100px);

  &::-webkit-scrollbar {
    display: none;
  }
}

.containerSwiper {
  width: 100%;
  display: flex;
  max-height: 230px;
  justify-content: space-between;
}

.swiper {
  max-height: 230px;
}

.slide {
  position: relative;
  width: auto-clamp(130, 250);
  height: auto-clamp(45, 67);
  display: flex;
  justify-content: center;
}


.icon {
  position: absolute;
  top: 0;
  width: auto-clamp(150, 277);
  height: auto-clamp(45, 67);
  margin: 0;
  object-fit: fill;
}

.arrowUp {
  z-index: 2;
  background: transparent;
  border: none;
  cursor: pointer;
  width: 25px !important;
  rotate: 90deg;
}


.navRight {
  z-index: 2;
  background: transparent;
  border: none;
  cursor: pointer;
  width: 25px !important;
  rotate: 180deg;
}

.caption {
  position: relative;
  border-radius: 11px;
  width: auto;
  font-size: auto-clamp(22, 35);
  color: #FFCC26;
  z-index: 2;
  text-align: center;
  align-self: center;
  white-space: nowrap;
  margin: auto auto;
}

.navLeft {
  z-index: 2;
  background: transparent;
  border: none;
  cursor: pointer;
  width: 25px !important;
}

.skinContainer {
  position: relative;
  width: 100%;
  background: rgba(56,36,111, 0.8);
  backdrop-filter: blur(7px);
  border-radius: 12px 12px 12px 12px;
  border: 2px solid #3842a4;
  z-index: 111;
  margin-bottom: 15px;
  height: calc(100vh - 100px);
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}

.list {
  width: auto;
  height: 100%;
  margin: 25px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.itemsList {
  width: 100%;
  padding: 5px;
  background: radial-gradient(circle at center, rgb(21, 25, 62) 0%, rgb(56, 66, 164) 58%);
  border-radius: 11px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.label {
  font-size: auto-clamp(20, 32);
  color: #FFFFFF;
  margin: 8px 0;
}

.col {
  width: auto;
  height: auto;
  gap: 10px;
  margin: 15px;
}

.modal {
  max-width: 410px;
  position: absolute;
  bottom: 12px;
  width: calc(100vw - 40px);
  background: rgba(56,36,111, 0.8);
  backdrop-filter: blur(7px);
  border-radius: 12px 12px 12px 12px;
  z-index: 115;
  border: 2px solid #3842a4;
  height: calc(100vh - 150px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #15193E;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalBorder {
  padding: 7px;
  border-radius: 22px;
  border: none;
  background: linear-gradient(to right, #38246f 0%, #4f5e85 50%, #4c3981 100%);
}

.modalUpBoreder {
  padding: 7px;
  border-radius: 22px;
  border: none;
  background: linear-gradient(180deg, #c78100 0%, #e4aa39 50.3%, #c78100 100%);
}

.modalUpgrades {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 22px;
  width: 271px;
  height: 280px;
  background: radial-gradient(67% 67.04% at 50% 50%, rgb(56, 66, 164) 0%, rgb(21, 25, 62) 100%);
  background-size: contain;
}

.modalUpgrades h3 {
  font-size: auto-clamp(24, 32);
  font-weight: 400;
  color: #fff;
  margin-bottom: 10px;
}

.modalUpgrades p, .modalUpgrades p a {
  font-size: auto-clamp(20, 28);
  color: #fff;
  padding: 0;
  margin-top: 0;
  margin-bottom: 8px;
}

.green {
  font-size: 36px;
  color: #57E22C !important;
  padding: 0;
  margin-top: 0;
  margin-bottom: 8px;
}

.modalBtn {
  font-family: 'Pricedown';
  color: white;
  font-size: 40px;
  cursor: pointer;
  background: radial-gradient(67% 67.04% at 50% 50%, rgb(56, 66, 164) 0%, rgb(21, 25, 62) 100%);
  width: 200px;
  height: 50px;
  border-radius: 18px;
  text-align: center;
  padding-top: 5px;
}

.modalBtn:disabled {
  background-color: #a9a9a9;
  color: #ffffff;
  cursor: not-allowed;
  opacity: 0.6;
}

.errorMessage {
  color: red;
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
}

.warning {
  margin: 15px;
  font-size: auto-clamp(18, 24);
  text-align: center;
  color: #fff;
}

.levelUpAnimation {
  animation: fadeInOut 2s linear;
  position: absolute;
  z-index: 1005;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: auto-clamp(40, 60);
  color: #FFCC26;
}

@keyframes fadeInOut {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}