@import "../../../styles/utils";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.root, .hidderRoot, .bigroot {
  border-radius: 11px;
  background:
          linear-gradient(359.95deg, #120431 0.34%, #443664 50.67%, #7E709F 100%),
          rgba(79, 94, 133, 0.7);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hidderRoot {
  filter: grayscale(100%);
}

.bigroot {
  margin-top: 20px;
  scale: 1.5;
  border: 3px solid #FFFFFF;
}

.image {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1px;
  object-fit: contain;
}

.title {
  color: #FFFFFF;
  font-size: 14px;
  text-align: center;
  background: rgba(104, 110, 166, 0.6);
  border-radius: 5px;
}

.arrowUp {
  margin-top: auto-height(0, 35);
  transform: scaleY(-1);
  padding-top: 5px;
  padding-bottom: 5px;
}

.arrowUpLeft {
  margin-top: auto-height(0, 35);
  transform: scaleY(-1);
}

.arrowUpRight {
  margin-top: auto-height(0, 35);
  scale: -1;
}

.arrowDown {
  margin-bottom: auto-height(0, 35);
  padding-top: 5px;
  padding-bottom: 5px;
}

.arrowDownLeft {
  margin-bottom: auto-height(0, 35);
}

.arrowDownRight{
  margin-bottom: auto-height(0, 35);
  transform: scaleX(-1);
}


@media (max-width: 360px) {
  .root, .hidderRoot {
    width: 50px;
    height: 50px;
    padding: 1px 3px 1px 3px;
  }

  .bigroot {
    width: 55px;
    height: 55px;
    padding: 1px 3px 1px 3px;
  }

  .image {
    height: 30px;
  }
  .title {
    height: 14px;
    width: 100%;
    font-size: 14px;
    line-height: 14px;
  }
}

@media (min-width: 361px) and (max-width: 400px) {
  .root, .hidderRoot {
    width: 55px;
    height: 55px;
    padding: 1px 4px 2px 4px;
  }

  .bigroot {
    width: 60px;
    height: 60px;
    padding: 1px 3px 1px 3px;
  }

  .image {
    height: 35px;
  }
  .title {
    height: 15px;
    width: 100%;
    font-size: 16px;
    line-height: 15px;
  }
}

@media (min-width: 401px) {
  .root, .hidderRoot {
    width: 60px;
    height: 60px;
    padding: 1px 4px 3px 4px;
  }

  .bigroot {
    width: 65px;
    height: 65px;
    padding: 1px 3px 1px 3px;
  }
  .image {
    height: 40px;
  }
  .title {
    height: 16px;
    width: 100%;
    font-size: 16px;
    line-height: 15px;
  }
}

