.root {
  border-radius: 11px;
  background:
          linear-gradient(359.95deg, rgba(29, 0, 47, 0.8) 0.34%, rgba(79, 94, 133, 0.8) 50.67%, rgba(255, 200, 198, 0.656) 100%),
          rgba(104, 110, 166, 0.6);
  background-blend-mode: overlay;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1px;
  object-fit: contain;
}

.title {
  color: #FFFFFF;
  font-size: 12px;
  text-align: center;
  background: rgba(104, 110, 166, 0.6);
  border-radius: 5px;

}

@media (max-width: 360px) {
  .root {
    width: 50px;
    height: 50px;
    padding: 1px 3px 1px 3px;
  }
  .image {
    height: 30px;
  }
  .title {
    height: 14px;
    width: 40px;
    font-size: 10px;
    line-height: 14px;
  }
}

@media (min-width: 361px) and (max-width: 400px) {
  .root {
    width: 55px;
    height: 55px;
    padding: 1px 4px 2px 4px;
  }
  .image {
    height: 35px;
  }
  .title {
    height: 15px;
    width: 47px;
    font-size: 11px;
    line-height: 15px;
  }
}

@media (min-width: 401px) {
  .root {
    width: 60px;
    height: 60px;
    padding: 1px 4px 3px 4px;
  }
  .image {
    height: 40px;
  }
  .title {
    height: 16px;
    width: 51px;
    font-size: 12px;
    line-height: 15px;
  }
}