@import "../../../styles/_utils.scss";

.rootRight, .rootLeft, .rootDown {
  border-radius: 11px;
  background:
          linear-gradient(180deg, #FFCECC 0%, #4F5E85 50%, #1D002F 100%),
          rgba(79, 94, 133, 0.7);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto-clamp(40, 70);
  height: auto-clamp(40, 70);

  transform: scale(0.5);
  animation: zoom-in 0.5s forwards ease-out;

  @keyframes zoom-in {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
}

.rootRight {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.rootLeft {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.rootDown {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.image {
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
}

.title {
  color: #FFFFFF;
  font-size: auto-clamp(12, 16);
  text-align: center;
  background: rgba(104, 110, 166, 0.6);
  border-radius: 6px;
  height: fit-content;
  margin: 2px;
  width: 80%;
}







