@import "../../styles/_utils.scss";

.root {
  width: 100%;
  background: linear-gradient(180deg, #5c498f 0%, #47347d 100%);
  display: flex;
  padding: auto-clamp(10, 16);
  border-radius: 11px;
  margin-bottom: 5px;
  align-items: center;
  gap: auto-clamp(5, 12);
  cursor: pointer;
}

.title {
  font-size: auto-clamp(20, 32);
  line-height: auto-clamp(20, 32);
  color: #fff;
  width: 100%;
}

.subtitle {
  font-size: auto-clamp(12, 20);
  line-height: auto-clamp(12, 20);
  color: #fff;
  width: 100%;
  white-space: nowrap;
}

.desc {
  font-size: auto-clamp(8, 15);
  line-height: auto-clamp(8, 15);
  color: #fff;
  width: auto-clamp(50, 70);
  white-space: nowrap;
}