@import "../../styles/_utils.scss";

.root {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  align-items: end;

  transform: scale(0.5);
  animation: zoom-in 0.5s forwards ease-out;

  @keyframes zoom-in {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
}

.smallElem1, .smallElem2, .smallElem3, .smallElem4, .bigElem {
  width: 100%;
  height: 80%;
  //background: linear-gradient(0deg, #1D002F 0%, #4F5E85 25%, #FFFFFF 100%);
  background: linear-gradient(0deg, #120431 0%, #443664 30%, #7E709F 100%);
  border: 1px solid #15193E;
  border-top-right-radius: 11px;
  border-top-left-radius: 11px;
  display: flex;
  flex-direction: column;
  gap: auto-clamp(0, 4);
  align-items: center;
  justify-content: start;
  color: #FFFFFF;
  padding: 1px 3px;
  font-weight: bold;
  //letter-spacing: -1px;
  font-family: 'Oswald';
}

.smallElem1 {
  grid-column: 1/3;
}

.smallElem2 {
  grid-column: 3/5;
}
.bigElem {
  grid-column: 5/8;
  height: 100%;
}
.smallElem3 {
  grid-column: 8/10;
}
.smallElem4 {
  grid-column: 10/12;
}
.image {
  height: 48%;
  width: auto;
}

.imageBig {
  width: 80%;
  height: auto;
}

.title {
  background: rgba(21, 25, 62, 0.7);
  width: 100%;
  text-align: center;
  border-radius: 8px;
  max-width: 80px;
  padding-bottom: 3px;
  padding-top: 3px;
  font-size: auto-clamp(12, 16);
  line-height: auto-clamp(15, 18);
  text-transform: uppercase;
  text-shadow:
          -1px -1px 0 #000,
          1px -1px 0 #000,
          -1px  1px 0 #000,
          1px  1px 0 #000;
}